<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @advertisement.item %>
</p>

<p>
  <b>Content:</b>
  <%= @advertisement.content %>
</p>


<%= link_to 'Edit', edit_advertisement_path(@advertisement) %> |
<%= link_to 'Back', advertisements_path %>
